---
import Button from "../shared/Button.svelte";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber.astro";
---

<section class="relative pt-28 lg:pt-36">
    <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
        <div
            class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
        >
            <h1
                class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1"
            >
                Your new <span
                    class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600"
                    >budget buddy</span
                > for Personal Finance
            </h1>
            <Paragraph className="mt-8">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Dolores repellat perspiciatis aspernatur quis voluptatum porro
                incidunt, libero sequi quos eos velit
            </Paragraph>
        </div>

        <div
            class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl"
        >
            <img
                src="/images/image1.webp"
                alt="Hero image"
                width="2350"
                height="2359"
                class="lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96"
            />
        </div>
    </Container>

    <!-- <ByNumber/> -->
</section>
