---
import Container from "../shared/Container.astro";
---

<div class="min-h-screen flex items-center justify-center">
    <section class="text-center">
        <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
            <div
                class="relative flex flex-col items-center text-center lg:py-7 xl:py-8
            lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
            >
                <div class="flex items-center gap-5">
                    <h1
                        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
                font-bold text-heading-1"
                    >
                        BudBud
                    </h1>
                </div>
                <h1
                    class="text-1xl/tight sm:text-3xl/tight md:text-4xl/tight xl:text-5xl/tight
                 font-bold text-heading-2"
                >
                    Your new <span
                        class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-blue-600"
                        >buddy</span
                    > for personal finance
                </h1>
                <h1
                    class="text-1xl/tight sm:text-2xl/tight md:text-3xl/tight xl:text-4xl/tight
                 font-bold text-heading-2 mt-6"
                >
                    Soon...
                </h1>

                <div class="min-w-max flex items-center mt-5">
                    <button
                        data-switch-theme
                        class="outline-none flex relative text-heading-2 rounded-full p-2 lg:p-3 border border-box-border"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 dark:flex hidden"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"
                            ></path>
                        </svg>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 dark:hidden"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                            ></path>
                        </svg>

                        <span class="sr-only">switch theme</span>
                    </button>
                </div>
            </div>
        </Container>
    </section>
</div>
