---
import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import Features from "../components/sections/Features.astro";
import CTA from "../components/sections/CTA.astro";
import Brands from "../components/sections/Brands.astro";
import IndexLayout from "../layouts/sub-layouts/IndexLayout.astro";
import MaintenanceLayout from "../layouts/sub-layouts/MaintenanceLayout.astro";
import Soon from "../components/sections/Soon.astro";

const isInMaintenance =
	import.meta.env.MAINTENANCE === "1" ||
	import.meta.env.ENV === "production" ||
	Astro.cookies.get("maintenance")?.number() === 1;
---

{
	isInMaintenance ? (
		<MaintenanceLayout maintenanceTitle="Soon...">
			<Soon />
		</MaintenanceLayout>
	) : (
		<IndexLayout title="Your budget buddy">
			<p>{Astro.cookies.get("maintenance")?.number()}</p>

			<Hero />
			<Brands />
			<Services />
			<AboutUs />
			<Features />
			<CTA />
		</IndexLayout>
	)
}
