---
import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import Features from "../components/sections/Features.astro";
import CTA from "../components/sections/CTA.astro";
import Brands from "../components/sections/Brands.astro";
import IndexLayout from "../layouts/sub-layouts/IndexLayout.astro";

if (
	import.meta.env.ENV !== "staging" &&
	import.meta.env.ENV !== "development"
) {
	return Astro.redirect("/soon");
}
---

<IndexLayout title="Your budget buddy">
	<p>{import.meta.env.ENV}</p>
	<Hero />
	<Brands />
	<Services />
	<AboutUs />
	<Features />
	<CTA />
</IndexLayout>
