---
import BtnLink from "../shared/BtnLink.astro";
import Container from "../shared/Container.astro";
import Navitem from "../shared/Navitem.astro";
import ThemeButton from "../shared/ThemeButton.astro";

// const navItems = [
//     {
//         href: "#",
//         text: "Home",
//     },
//     {
//         href: "#services",
//         text: "Services",
//     },
//     {
//         href: "#about-us",
//         text: "About us",
//     },
//     {
//         href: "#features",
//         text: "Features",
//     },
// ];
---

<header class="inset-x-0 z-50 py-6 mt-auto" id="navbar">
    <Container>
        <section class="header"></section>

        <nav class="w-full flex justify-between gap-6 relative">
            <div class="min-w-max inline-flex relative">
                <a href="/" class="relative flex items-center gap-2">
                    <img src="/logos/logo.svg" width="25" height="25" />
                    <div
                        class="inline-flex text-lg font-semibold text-heading-1"
                    >
                        BudBud
                    </div>
                </a>
            </div>

            <div
                data-nav-overlay
                aria-hidden="true"
                class="fixed hidden inset-0 lg:!hidden bg-box-bg bg-opacity-50 backdrop-filter backdrop-blur-xl"
            >
            </div>
            <!-- <div
                data-navbar
                class="flex h-0 overflow-hidden lg:!h-auto lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-body lg:bg-transparent border-x border-x-box-border lg:border-x-0"
            >
                <ul
                    class="border-t border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-heading-2 w-full lg:justify-center lg:items-center"
                >
                    {
                        navItems.map((item) => {
                            return <Navitem {...item} />;
                        })
                    }
                </ul>

                <div
                    class="lg:min-w-max flex items-center sm:w-max w-full pb-6 lg:pb-0 border-b border-box-bg lg:border-0 px-6 lg:px-0"
                >
                    <BtnLink
                        text="Get Started"
                        href="#cta"
                        className="flex justify-center w-full sm:w-max"
                        variant="primary"
                    />
                </div>
            </div> -->

            <ThemeButton className="" />
        </nav>
    </Container>
</header>
